<?xml version='1.0' encoding='utf-8'?>
<widget id="ca.posking.report.cell" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Report</name>
    <description>Posking Cell Report App</description>
    <author email="jackw@posking.ca">
        Posking Developer Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
